*{
    margin: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #145f94;
    color: white;
    padding: 33px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 37px;
}
.main-content{
    width : 100%;
    padding: 0 135px;
}
.left-container{
    width: 61%;
    float:left;
}
.right-container{
   width: 37.5%;
   float: right;
}
.networks{
    margin-bottom: 20px;
    width: 100%;
}
.heading{
    background-color: #145f94;
    color: white;
    padding : 16px 0px 16px 28px;
    font-size: 20px;
    font-weight: 500;
}
.clearfix{
    clear: both;
}
.content{
    padding : 23px;
    border: 1px solid #145f94;
    text-align: justify;
    font-size: 18px;
    line-height: 25px;
    background-color:#f6f6f6;
}
@media screen and (max-width:576px) {
    .left-container, .right-container{
        width: 100%;
        float: none;
    }
    .main-content{
        padding: 0 60px;
    }
}


