*{
    margin: 0%;
    box-sizing: border-box;
}
.header{
    background-color: #145f94;
    color: white;
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.doordharsan, .sonynetwork{
    margin: 37px 0px 0px 145px;
    float: left;
    width: 51%;
}
.sunnetwork, .starnetwork{
    margin: 37px 145px 0px 0px;
    float: right;
    width: 30%;
}
.zeenetwork{
    margin: 37px 0px 100px 145px;
    float: left;
    width: 51%;
}
.heading{
    background-color: #145f94;
    color: white;
    padding : 20px 0px 20px 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.content{
    padding : 28px 28px 28px 28px;
    border: 1px solid #145f94;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}
