*{
    margin:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.landing-page{
    height: 100vh;
}
.landing-page header, .home-page header,#notes-detail header{
    width: 100vw;
    height: 9vh;
    background-color: #041d2e;
}
.landing-page header .title, .home-page header .title,#notes-detail header .title{
    color: white;
    font-size: 31px;
    float: left;
    padding: 30px 0 40px 30px;
    justify-content: center;
}
.landing-page header nav, .home-page header nav,#notes-detail header nav{
    float: right;
    padding: 30px 20px 30px 0 ;
}
#delete-all-btn{
    width: 175px;
    height: 40px;
    border:0;
    border-radius: 50px;
    background-color: #a80001;
    color: white;
    font-size: 18px;
    margin-right: 20px ;
}
#delete-btn{
    width: 175px;
    height: 40px;
    border:0;
    border-radius: 50px;
    background-color: #a80001;
    color: white;
    font-size: 18px;
    margin-right: 20px ;
}
#new-btn{
    width: 110px;
    height: 40px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
}
#notes-container{
    background-color: black;
    height: 100%;
}
.note-container{
    background-color:white;
}
#app{
    display: grid;
    grid-template-columns: repeat(auto-fill, 405px) ;
    padding: 24px;
    gap: 24px;
}
.note-container{
    width:305px;
    height: 405px;
    box-sizing: border-box;
    padding: 16px;
    border: none;
    border-radius: 10px;
    resize:none;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5) ;
    cursor: pointer;
    background-color: rgba(255, 255, 255);
}
#load-more{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 35px 0;
}
#load-more-btn{
    width: 160px;
    height: 50px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
    text-align: center;
}


#add-note-page, #edit-note-form{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
}
/* .add-note{
    width: 40vw;
    height: 100vh;
    background-color: black;
    padding: 4vh;
    float: right;
} */
#add-note-form .header, #edit-note-form .header{
    display: inline-block;
    width: 35vw;
    height: 5vh;
    background-color: #041d2e;
    color: white;
    margin-bottom: 20px;
}
#add-note-form .header p, #edit-note-form .header p{
    color: white;
    padding: 0.5vh 0 1.5vh 1.5vh;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
#add-note-page .close,#edit-note-form .close {
    display: inline;
    margin-left: 19vw;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
form{
    /* background-color: pink; */
    height: 85vh;
}
#add-note-form textarea, #add-note-form input{
    background-color: black;
    width: 100%;
    border: 0;
    resize: none;
    /* color: #6b6b6b; */
    color: white;
    font-family: 'Roboto', sans-serif;
}
#add-note-form [placholder]{
    color: #6b6b6b;
}
#add-notes-title{
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
#add-image-url, #add-content-here{
    font-size: 18px;
    margin-bottom: 20px;
}
#add-content-here{
    height:65vh;
}


.colors-container{
    display: flex;
    flex-direction: row;
}
.color-button {
  width: 8vh;
  height: 3vh;
  border-radius: 50%;
  margin: 10px;
  border: none;
  cursor: pointer;
}
.color1{
    background-color: #ebccec;
}
.color2{
    background-color: #fcfcfc;
}
.color3{
    background-color: #ffca72;
}
.color4{
    background-color: #e4ed91;;
}
.color5{
    background-color: #ffa78c
}
#add-btn,#save-btn{
    width: 110px;
    height: 40px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
    margin: 8px 0 0 100px;
    padding: 10px 20px;
}


.home-page{
    width: 100vw;
    height: 93.4vh;
}
.home-page #notes-container img{
    padding: 7% 46% 0 46%;
}
.home-page #notes-container p{
    color: #b2b2b2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 20px;
}
#edit-note-page{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.edit-note{
    width: 40vw;
    height: 100vh;
    background-color: black;
    padding: 4vh;
    float: right;
}
.edit-note .header{
    width: 35vw;
    height: 5vh;
    background-color: #041d2e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.edit-note .header p{
    padding: 1.5vh 0 1.5vh 1.5vh;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.close {
    display: inline;
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding: 1.5vh 1.5vh 1.5vh 0;  
}
form{
    /* background-color: pink; */
    height: 85vh;
}
#edit-note-form textarea, #edit-note-form input{
    background-color: black;
    width: 100%;
    border: 0;
    resize: none;
    /* color: #6b6b6b; */
    color: white;
    font-family: 'Roboto', sans-serif;
}
#edit-note-form [placholder]{
    color: #6b6b6b;
}
#edit-notes-title{
    height: 50px;
    font-size: 25px;
    margin-bottom: 10px;
}
#edit-image-url, #edit-content-here{
    font-size: 18px;
    margin-bottom: 20px;
}
#edit-content-here{
    height:65vh;
}
/* #save-btn{
    width: 110px;
    height: 40px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
    margin: 15px 0 0 150px;
} */


.delete-all-notes-popup, .delete-note-popup{
    position:absolute;
    top: 45%;
    left:35%;
    width: 33vw;
    height: 20vh;
    background-color: black;
    padding: 1.5vh;
    z-index: 1;
    transition: all 1s ease-in-out;
}
.delete-all-notes-popup .header, .delete-note-popup .header{
    width: 31vw;
    height: 5vh;
    background-color: #041d2e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete-all-notes-popup .header p,.delete-note-popup .header p{
    padding: 1.5vh 0 1.5vh 1.5vh;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.close {
    display: inline;
    font-size: 20px;
    font-weight: 100;
    color: white;
    padding: 1.5vh 1.5vh 1.5vh 0;  
}
.confirm-delete p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    font-size: 17px;
    margin-top: 30px;
}
#confirm-delete-btn,#confirm-all-delete-btn{
    width: 160px;
    height: 40px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
    margin: 30px 0 0 180px;
}
.confirm-leave-popup{
    width: 33vw;
    height: 22vh;
    background-color: black;
    padding: 1.5vh;
}
.confirm-leave-popup .header{
    width: 31vw;
    height: 5vh;
    background-color: #041d2e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.confirm-leave-popup .header p{
    padding: 1.5vh 0 1.5vh 1.5vh;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.confirm-leave p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    margin-top: 30px;
}
#confirm-leave-btn{
    width: 160px;
    height: 40px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
    margin: 25px 0 0 180px;
}
#delete-all-notes-popup-page, #delete-note-popup-page, .confirm-leave-page{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#edit-btn{
    width: 110px;
    height: 40px;
    border:0;
    border-radius: 50px;
    color: white;
    background-color: #b355b7;
    font-size: 18px;
    cursor: pointer;
}
#notes-detail{
    width: 100vw;
    height: 100vh;
    background-color: black;
   
}
.notes-heading{
    color: white;
    display: inline-block;  
    margin-left:15vw;
    margin-top: 10vh;
    color: white;
}
.notes-content{
    position: absolute;
    left: 25vw;
    width: 50%;
    background-color: #000000;
    color: white;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.notes-content img{
    width: 100%;
    height: 40%;
    border-radius: 4%;
}
.notes-content p{
    margin-top:20px;
}
.notes-heading h3{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }




/* Styling for the form container */
#add-note-form,#edit-note-form {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
  }
 button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
 
  }
    .close-btn{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }

